.price-swiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: $block-color;

    .price-swiper__title {
        width: 100%;
        text-transform: uppercase;
        line-height: 24px;
        padding: 16px;
        color: $grey-text-color;
        letter-spacing: -0.2;
        background: linear-gradient(270deg, $lite-color 0%, $block-color 100%);
    }

    .swiper {
        width: 100%;

        .swiper-pagination {
            margin-bottom: 22px;
            display: block;
        }

        .swiper-pagination-bullet-active {
            background-color: #505157 !important;
        }

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            margin-left: 10px;
        }

        .price-list-header {
            display: none;
        }

        .price-list {
            width: 260px;
            height: 200px;
            background: $lite-color;
            border: 1px solid $border-color-lite;
            border-radius: 6px;
            margin: 16px 0 68px 8px;
            font-size: 14px;
            padding-left: 16px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: $grey-text-color;

            &::after {
                position: absolute;
                width: 119px;
                height: 32px;
                bottom: 16px;
                right: 16px;
                content: "Заказать";
                background: $main-color url("../img/swiper_icons/dropdown-white.svg") no-repeat 90% 50%;
                border-radius: 16px;
                padding-left: 12px;
                padding-top: 2px;
                color: $lite-color;
                font-family: "TTLakes-Medium";
                font-size: 12px;
                line-height: 24px;
                text-align: left;
                letter-spacing: -0.15px;
                text-transform: uppercase;
                border: 2px solid $main-color;
            }

            &:hover::after {
                background-color: $hover-icons-swiper;
            }


            .price-list__mobile-text {
                color: $grey-text-color;
                margin-top: 16px;

            }

            .price-list__service-text {
                color: $text-color;
                margin-top: -12px;
            }
        }
    }

    .price-swiper__text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.8px;
        color: $text-color;
        margin-top: -15px;
        padding-left: 16px;

    }

    .price-swiper__button {
        position: relative;
        display: block;
        font-family: "TTLakes-Medium";
        line-height: 24px;
        letter-spacing: -0.2px;
        width: 70%;
        text-align: left;
        padding-left: 16px;
        color: $text-color;
        background-color: $block-color;
        font-size: 16px;
        border: none;

        &::after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            background: url("../img/swiper_icons/dropdown.svg") no-repeat 100%;
            bottom: 5px;

        }

        &:hover {
            color: $hover-color;
        }
    }

    @media (min-width:768px) {


        .price-swiper__title {
            padding: 16px 24px;
        }

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            width: 95%;
            margin: 0 auto;
            background-color: $block-color;

            .price-list {
                width: 100%;
                position: relative;
                display: flex;
                background-color: $lite-color;
                color: $text-color;
                margin: 0px 0 0px 8px;
                height: 80px;
                padding-top: 30px;
                border: none;
                border-radius: none;
                align-content: center;

                &:not(:first-child)::before {
                    position: absolute;
                    z-index: 10;
                    top: 82px;
                    left: auto;
                    width: 95%;
                    border-bottom: 1px solid $border-color-lite;
                    content: "";
                }

                &::after {
                    bottom: 24px;
                }

                .price-list__item-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    .price-list__mobile-text {
                        display: none;

                    }

                    .price-list__service-text {
                        display: inline-block;
                        margin-right: 10px;

                        &:nth-child(2) {
                            width: 46%;
                        }

                        &:nth-child(4) {
                            width: 20%;
                        }
                    }
                }

                &:first-child {
                    margin-top: 16px;
                    background: $block-color;


                    .price-list__item-wrapper {
                        display: flex;
                        width: 100%;


                        .price-list__service-text {
                            color: $grey-text-color;

                            &:first-child {
                                width: 46%;
                            }

                            &:nth-child(2) {
                                width: 20%;
                            }

                            &:last-child {
                                width: 15%;
                            }

                        }
                    }

                    &:first-child::after {
                        content: '';
                        width: 119px;
                        height: 32px;
                        background: $block-color;
                        border: none;
                    }
                }


            }
        }

        .price-swiper__text {
            margin-top: 24px;
            max-width: 65.5%;
            z-index: 40;
        }
    }
}