$main-color: #ff3e79;
$text-color: #1b1c21;
$block-color: #f8f8f8;
$grey-text-color: #7e7e82;
$hover-color: aqua;
$lite-color: #ffffff;
$hover-icons-swiper: greenyellow;
$border-color-lite: #EAEAEA;
$active-pagination-color: #979797;